.Carousel__admin{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
}
@media (max-width: 970px) {
    .Carousel__admin{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 5px;
    }
}