.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    height: 120px;
    padding : 20px;
    background-color : #d5e7f0;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button{
    background: #001f6e;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    border: 1px solid #087da1;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

.subtotal > button:hover{
    background: #087da1;
    border: 1px solid #001f6e;
    color: white;
}