/* .home__carouselimage{
    width: 100%;
}

@media (min-width: 970px) and (max-width: 1368px)
{
    .home__carouselimage{
        width: 100%;
        min-height: 50vh;
        z-index: -1;
        margin-bottom: -140px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    }
}

@media (min-width: 1368px)
{
    .home__carouselimage{
        width: 100%;
        z-index: -1;
        margin-bottom: -250px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    }
} */

.home__carouselimage{
    width: 100%;
}

@media (min-width: 970px) and (max-width: 1368px)
{
    .home__carouselimage{
        width: 100%;
        min-height: 50vh;
        z-index: -1;
        margin-bottom: -140px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    }
}

@media (min-width: 1368px)
{
    .home__carouselimage{
        width: 100%;
        min-height: 50vh;
        z-index: -1;
        min-height: 50vh;
        max-height: 50vh;
        margin-bottom: -140px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    }
}
